$sidebar-link-padding = .5rem

.sidebar
    border: 0

.sidebar-sub-headers .sidebar-sub-header a.sidebar-link
    padding-top: $sidebar-link-padding
    padding-bottom $sidebar-link-padding

.page ul > li
    padding-top: 0.3rem
    padding-bottom: 0.3rem